<h1>User's Age</h1>
<h2>Digite a sua idade para verificar se você é maior de idade ou não!</h2>

<form action="/check" method="GET">

<input name="age" />
<button type="submit">Salvar</button>

</form>

